<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blackcomb Software, LLC - Compass</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Blackcomb Software, LLC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="about.html">About</a>
                    </li>
                    <li><a href="services.html">Services</a>
                    </li>
                    <li><a href="contact.php">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li><a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li><a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li><a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li class="active"><a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li><a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li><a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="full-width.html">Full Width Page</a>
                            </li>
                            <li><a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li><a href="faq.html">FAQ</a>
                            </li>
                            <li><a href="404.html">404</a>
                            </li>
                            <li><a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Compass
                    <small>A Comprehensive Residential HVAC Industry System</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="img/compassFilterIpadDesktop.png">
            </div>

            <div class="col-md-4">
                <h3>Compass</h3><h5>A Comprehensive Residential HVAC Industry System</h5>
                <p>Empower your sales staff with the tools to provide accurate and smart estimates and equip your sales managers with the information to manage their team. Seamlessly connect the office and the field with both mobile and desktop experiences, electronic presentations and contracts, and built-in auto-updating AHRI data.<br></p>
                <h5><br>Features Include:</h5>
                <ul>
                    <li>Responsive Sales Quoting System</li>
                    <li>30+ Advanced System Filtering Options</li>
                    <li>Automated Contract Generation</li>
                    <li>Auto-Updating AHRI Data</li>
                    <li>Administrative Dashboard with Analytics</li>
                    <li>Dynamic Best/Better/Good Option Comparison</li>
                    <li>Intuitive Mobile/Desktop Experiences</li>
                </ul>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <h3></h3>
                <a class="btn btn-primary" href="http://www.hitachi-solutions.com/"><i class="fa fa-cloud-download"></i> Download the Fact Sheet</a>
            </div>

        </div>


    </div>
    <!-- /.container -->

        <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h2><br>Experiencing Any of These Problems?... <b><i style="color:#84be6a;">Compass</i></b> is the Solution</h2>
                <hr>
            </div>

        </div>
        <!-- /.row -->

        <div class="row text-center">

            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive center-block" src="img/freeMoney.png" width="20%" height="20%">
                <h4 style="color:#c61c2f;">Sales Staff Giving Away Your Margin
                </h4>
                <p>Ever had a salesperson throw in an accessory for free in order to get a sale but expect full commission for selling the equipment at book price? Compass solves this by creating a parts list for each job based on what was sold.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive center-block" src="img/missingFile.png" width="20%" height="20%">
                <h4 style="color:#c61c2f;">Missing Documents and Contracts
                </h4>
                <p>Ever had a customer call into the office and discuss a contractual matter and you can't locate the paperwork? Compass takes care of this by storing an electronic copy of every sales presentation and contract created by the salesperson.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive center-block" src="img/cornerRuler.png" width="20%" height="20%">
                <h4 style="color:#c61c2f;">Installing Equipment That Doesn't Fit
                </h4>
                <p>Ever had your installer call back into the office and tell you that the new equipment doesn't fit? Compass takes care of this by providing the salesperson with the exact height, width, and depth measurements on any equipment solutions that they are proposing for the customer.</p>
            </div>

        </div>

        <div class="row text-center">

            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive center-block" src="img/calendar.png" width="20%" height="20%">
                <h4 style="color:#c61c2f;">Overbooking Installation Technicians
                </h4>
                <p>Ever have a salesperson promise a customer that you can install the new equipment tomorrow without first checking with the installation manager? Compass takes care of this by requiring the salesperson to record the installation confirmation number in the system. Without the confirmation number, the installation date cannot be promised to the customer.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive center-block" src="img/emptyBox.png" width="20%" height="20%">
                <h4 style="color:#c61c2f;">Sending Parts Runners to Job Sites
                </h4>
                <p>Ever have to send another employee to the installation site with a part that was needed to complete the job? Compass takes care of this by providing an exhaustive checklist of information that the salesperson will fill out to ensure that all necessary parts are ordered and taken to the job site by the installers.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive center-block" src="img/confused.png" width="20%" height="20%">
                <h4 style="color:#c61c2f;">Not Knowing the Status of your Expensive Sales Leads
                </h4>
                <p>Ever have a salesperson leave your company and wonder what the status is for all those unsold sales leads? Compass solves this by keeping track of all the information for every sales lead within your company. The Sales Manager portal allows for real-time access to all  sales lead details.</p>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Blackcomb Software, LLC. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>

</body>

</html>
